{% extends "core/base.html" %}
{% load static %}

{% block title %} Inicio {% endblock %}

{% block header %}
    {% include "core/partials/navbar.html" %}
{% endblock %}
    
{% block main %}
    <img id="fondos" src="{% static 'core/img/wh_image.jpeg' %}" alt="wh_image">
    <h3>  Bienvenido/a a Depotfy, {{user1.first_name}} {{user1.last_name}}</h3>
{% endblock %}

{% block sidebar %} 
    {% include "core/partials/sidebar.html" %}
{% endblock %}

{% block footer %}
    <!-- {% include "core/partials/footer.html" %} -->
{% endblock %}