{% extends "core/base.html" %}
{% load static %}

{% block title %} Ingresos {% endblock %}

{% block header %}
    {% include "core/partials/navbar.html" %}
{% endblock %}
    
{% block main %}
    <a href="{% url 'nuevo_ingreso' %}" class="btn btn-light">Nuevo ingreso</a>    
    <!-- <button type="button" class="btn btn-light">Nuevo ingreso</button> -->
    <button type="button" class="btn btn-light">Modificar ingreso</button>
    <a href="{% url 'listar_ingresos' %}" class="btn btn-light">Listado de ingreso</a>
    <!-- <button type="button" class="btn btn-light">Listar ingresos</button> -->
{% endblock %}

{% block sidebar %} 
    {% include "core/partials/sidebar.html" %}
{% endblock %}

{% block footer %} 
    <!-- {% include "core/partials/footer.html" %} -->
{% endblock %}