{% extends "core/base.html" %}
{% load static %}

{% block title %} Inventarios {% endblock %}

{% block section_title %} <h3>Inventarios</h3> {% endblock %}

{% block content %}  

<img id="fondos" src="{% static 'core/img/wh_image.jpeg' %}" alt="wh_image">

<button type="button" class="btn btn-light">Nuevo inventario</button>
<button type="button" class="btn btn-light">Modificar inventario</button>
<button type="button" class="btn btn-light">Carga de inventario</button>
<button type="button" class="btn btn-light">Listar inventarios</button>

{% endblock %}