{% extends "core/base.html" %}
{% load static %}

{% block title %} Listado de Pedidos {% endblock %}

{% block header %}
    {% include "core/partials/navbar.html" %}
{% endblock %}

{% block main %}
<h3>Listado de Pedidos</h3>

<table class="table table-sm">
    <thead>
        <tr style="background-color: aquamarine; opacity: 0.7;">
            <th>Fecha</th>
            <th>Remito / OC</th>
            <th>Sku</th>
            <th>Descripción</th>
            <th>Cantidad</th>
            <th>Posición</th>
        </tr>
    </thead>
    <tbody>
        {% for pedido in listado_pedidos %}
            {% for linea in pedido.mostrar_materiales %}
                <tr style="background-color: rgb(215, 242, 248)">
                    {% if forloop.first %}
                        <td rowspan="{{ pedido.mostrar_materiales.count }}">{{ pedido.remito_OC }}</td>
                        <td rowspan="{{ pedido.mostrar_materiales.count }}">{{ pedido.fecha_pedido }}</td>
                    {% endif %}
                    <td>{{ linea.material.sku }}</td>
                    <td>{{ linea.material.descripcion }}</td>
                    <td>{{ linea.cantidad }}</td>
                    <td>{{ linea.del_stock.posicion.posicion }}</td>
                </tr>
            {% endfor %}
        {% empty %}
            <tr>
                <td colspan="6">No hay Pedidos</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block sidebar %} 
    {% include "core/partials/sidebar.html" %}
{% endblock %}

{% block footer %} 
    <!-- {% include "core/partials/footer.html" %} -->
{% endblock %}