{% extends "core/base.html" %}
{% load static %}

{% block title %} Materiales {% endblock %}

{% block section_title %} <h3>Listar Materiales</h3> {% endblock %}

{% block header %}
    {% include "core/partials/navbar.html" %}
{% endblock %}
    
{% block main %}

<table class="table table-striped" style="background-color: #e0e0e0;">
    <thead>
        <tr>
            <th>SKU</th>
            <th>Descripcion</th>
        </tr>
    </thead>
    <tbody>
        {% for material in listado_material %}
            <tr>
                <td>{{ material.sku }}</td>
                <td>{{ material.descripcion }}</td>                 
            </tr>
        {% empty %}
            <tr>
                <td colspan="3">No hay materiales creadas</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block sidebar %} 
    {% include "core/partials/sidebar.html" %}
{% endblock %}

{% block footer %}
    <!-- {% include "core/partials/footer.html" %} -->
{% endblock %}