{% extends "core/base.html" %}
{% load static %}

{% block title %} Log in {% endblock title %}

{% block content %}
    <form method="post" action="{% url 'logged_in' %}">
        {% csrf_token %}
        <fieldset>
            <legend>Log in</legend>
            <label for="email">
                <span>Company mail</span>
                <input type="email" name="email" placeholder="example@depotfy.com.ar">
            </label>
            <label for="password">
                <span>Password</span>
                <input type="password" name="password" placeholder="Password">
            </label>
            <button type="submit">Log in!</button>
        </fieldset>
    </form>
{% endblock content %}