{% extends "core/base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'core/forms.css' %}">
{% endblock %}

{% block title %} Ingresos {% endblock %}

{% block header %}
    {% include "core/partials/navbar.html" %}
{% endblock %}


{% block main %}
<div class="container" style="background-color: #e0e0e0";>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h3 h3 style="color: black;">Nuevo Ingreso</h3>

            <form id="nuevoingreso" method="post" action="{% url 'nuevo_ingreso' %}">
                {% csrf_token %}
                {{ nuevo_ingreso_form.as_p }}
                <div class="form-group text-center">
                    <button type="submit" class="btn btn-dark">Enviar</button>
                </div>
            </form>
                
        </div>
    </div>
</div>
{% endblock %}
