#fondos {
    object-fit: cover; width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    opacity: 50;
}

nav {
    opacity: 0.5; 
    filter:(opacity=50);
}
footer {
    position: absolute;
    bottom: 8px;
    width: 100%;
    opacity: 0.6; 
    filter:(opacity=50);
}

h3 {
    color: white;
    margin-left: 15px;
}

