/* Estilo para todos los formularios */


.container {
    background-color: #e0e0e0;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 15px;
}

.btn-primary {
    background-color: #333;
    color: #fff;
}
