{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'core/navbar.css' %}">

{% if user.is_authenticated %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Depotfy</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'index' %}">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">                    
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Ingresos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'nuevo_ingreso' %}">Nuevo ingreso</a></li>
                            <!-- {% if user.is_authenticated %}
                                <li><a class="dropdown-item" href="{% url 'modificar_ingreso' %}">Modificar Ingreso</a></li>
                            {% endif %} -->
                                <li><a class="dropdown-item" href="{% url 'listar_ingresos' %}">Listar ingresos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">                    
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Pedidos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'nuevo_pedido' %}">Nuevo Pedido</a></li>
                            <!-- <li><a class="dropdown-item" href="{% url 'modificar_pedido' %}">Modificar Pedido</a></li> -->
                            <li><a class="dropdown-item" href="{% url 'listar_pedidos' %}">Listar Pedidos</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">                    
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Stock
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'listar_stock' %}">Listar Stock</a></li>
                            <!-- <li><a class="dropdown-item" href="{% url 'movimientos_material' %}">Movimientos Material</a></li>                         -->
                        </ul>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="{% url 'inventarios' %}">Inventarios</a>
                    </li> -->
                    <li class="nav-item dropdown">                    
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Posiciones
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'nueva_posicion' %}">Nueva Posicion</a></li>
                            <!-- <li><a class="dropdown-item" href="{% url 'modificar_posicion' %}">Modificar Posicion</a></li> -->
                            <li><a class="dropdown-item" href="{% url 'listar_posiciones' %}">Listar Posiciones</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">                    
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Materiales
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{% url 'nuevo_material' %}">Nuevo Material</a></li>
                            <li><a class="dropdown-item" href="{% url 'listado_material' %}">Listar Materiales</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'usuarios' %}">Usuarios</a>
                    </li>
                </ul>    
            </div>
            <span class="navbar-text">
                    Usuario Logueado: {{ user.first_name }} {{ user.last_name }}
                    
            </span> 
            <a class="nav-link" href="{% url 'logout' %}" role="button">
                Logout
            </a>              
        </div>
    </nav>
{% endif %}