<!-- {% load static %}

 <div class="wrapper"> 
<nav class="c-sidebar js-sidebar o-acrylic o-shadow">
    <div class="">
        <div class="" tabindex="-1">
            <ul class="c-sidebar__ul">
                <li class="bg-dark c-sidebar__toggler-container c-sidebar__item">
                    <span class="c-sidebar__item-text">Text</span>
                    <button class="c-sidebar__toggler js-sidebar__toggler" type="button" title="Expandir">
                        <i class='fa fa-circle-chevron-left c-sidebar__icon'></i>
                    </button>
                </li>
                <li class="bg-dark c-sidebar__item">
                    <span class="c-sidebar__item-text">Text</span>
                    <i class="fa fa-tools c-sidebar__icon"></i>
        
                </li>
                <li class="bg-dark c-sidebar__item">
                    <span class="c-sidebar__item-text">Text</span>
                    <i class="fa fa-eye-slash c-sidebar__icon"></i>
                </li> 
            </ul>
        </div>
    </div>
</nav>
 </div> 

<script src="{% static 'core/css/sidebar/sidebar.js' %}"></script> -->