{% load static %}

<!-- <div class="wrapper"> -->
<nav class="c-sidebar js-sidebar bg-primary">
    <div class="bg-primary">
        <div class="" tabindex="-1">
            <ul class="c-sidebar__ul bg-dark">
                <li class="bg-primary c-sidebar__toggler-container c-sidebar__item">
                    <span class="c-sidebar__item-text">text</span>
                    <button class="c-sidebar__toggler js-sidebar__toggler" type="button" title="Expandir">
                        <i class='fa fa-circle-chevron-left'></i>
                    </button>
                </li>
                <!-- <li class="c-sidebar__item">
                    <span class="c-sidebar__item-text">text</span>
                    <i class="fa fa-tools"></i>
        
                </li>
                <li class="c-sidebar__item">
                    <span class="c-sidebar__item-text">text</span>
                    <i class="fa fa-eye-slash"></i>
                </li>  -->
            </ul>
        </div>
    </div>
</nav>
<!-- </div> -->

<script src="{% static 'core/css/sidebar/sidebar.js' %}"></script>